<div id="rates-form">
    <div class="form-field">
        <label for="field-text"><strong>Full text of your commissioned piece</strong></label>
        <textarea name="text" id="field-text"></textarea>
    </div>
    <div class="form-field">
        <label><strong>Ink</strong></label>
        <fieldset>
            <label><input type="radio" name="ink-color" value="black"> Black only</label>
            <label><input type="radio" name="ink-color" value="colored"> Colored</label>
            <label><input type="radio" name="ink-color" value="multiple"> Multiple colors</label>
        </fieldset>
    </div>
    <div class="form-field inks" style="display: none;">
        <label for="field-inks">How many colors (besides black)?</label>
        <input type="number" max="10" min="1" name="inks" id="field-inks">
    </div>
    <div class="form-field">
        <label><strong>Special</strong></label>
        <label><input type="checkbox" name="" value="10"> Smaller than 3”x5”</label>
        <label><input type="checkbox" name="" value="15"> Larger than 8”x10” (excluding mat)</label>
        <label><input type="checkbox" name="" value="5"> Written on colored paper</label>
        <label><input type="checkbox" name="" value="40"> Unique layout (text not in straight line, letters in a circle, etc.)</label>
    </div>
    <div class="form-field">
        <label><strong>Other</strong></label>
        <label><input type="checkbox" name="" value="10"> Mat it for framing</label>
        <label><input type="checkbox" name="" value="15"> Include a digital scan</label>
        <label><input type="checkbox" name="" value="8"> I need it shipped to me (+$8) </label>
        <label><input type="checkbox" name="" value="-5"> Photos of my commission may be used for future marketing by Rebekah's Calligraphy ($5 off)</label>
    </div>
</div>

<p><strong>Estimate:</strong> $<span id="rates-estimate">0</span></p>

<script src="{% link assets/form.js %}"></script>
